.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
}

.menu {
  display: flex;
  justify-content: space-between;
  padding: var(--padding-y) var(--padding-x);
  background-color: var(--color-white);

  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.logo {
  cursor: pointer;
  padding: var(--padding-y) var(--padding-x);
  border-radius: var(--border-radius);
  background-color: var(--color-white);
  box-shadow: var(--shadow);
}

.logo img {
  width: 140px;
  height: 30px;
}
