.work{
  box-shadow: var(--shadow);
  background-color: var(--color-white);
  border-radius: var(--border-radius) 0 var(--border-radius) var(--border-radius);
  padding: var(--p-y-bg) var(--p-x-bg);
}

.panel{
  display: flex;
  justify-content: right;
}