@import "#styles/index";

.button{
  background-color: $color-light-blue;
  vertical-align: center;
  cursor: pointer;
  padding: $p-10;
  
  @include text($text-large);
  color: $color-white;
  border-radius: $border-radius;
  transition: all .2s ease-in-out;
  margin: 0 5px;
  border: none;

  &:hover{
    
    box-shadow: 8px 8px 4px 0px rgba(0, 0, 0, 0.15)  inset;
    opacity: 0.9;
  }

  &.yellow{
    background-color: $color-yellow;
    padding: $p-10 13.5px;
  }

  &.blue{
    background-color: $color-blue;
  }
  
  &.small{
    padding: 5.3px $p-10 ;

    &:hover{
    
      
      background-color: $color-black-72;

       path {
        stroke: $color-white;
      }
      
    }

    
  }
}


.button:hover #link {
  stroke: $color-white;
}

.buttonWork{
  cursor: pointer;
  padding: 8px $p-16 2px;
  @include text($text-large);
  color: $color-black-50;
  background-color: $color-light-white;
  border-radius: $border-radius $border-radius 0 0;
  transition: all .2s ease-in-out;
  border: none;
}

.active{
  color: $color-black;
  background-color: $color-white;
}