.button{
  background-color: var(--color-light-blue);
  cursor: pointer;
  padding: var(--p-y-sm) var(--padding-x);
  color: var(--color-white);
  font-family: 'Gilroy-Medium', sans-serif;
  font-size: 14px;
  
  border-radius: var(--border-radius);
  transition: all .2s ease-in-out;
  margin: 0 var(--m-x);
  border: none;
}

.button:hover{
  background-color: var(--color-blue);
}

.yellow{
  background-color: var(--color-yellow);
}


.buttonWork{
  cursor: pointer;
  padding: var(--p-y-sm) var(--padding-x);
  color: var(--color-black);
  
  background-color: var(--color-light-white);
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  transition: all .2s ease-in-out;
  border: none;
  font-family: 'Gilroy-Regular', sans-serif;
}

.active{
  background-color: var(--color-white);
}