@import "./variables";






 @mixin header($font-size) {
  font-size: $font-size;
  font-family: 'Gilroy-Bold', sans-serif;
  color: $color-blue;
 }

 @mixin text($font-size) {
  font-size: $font-size;
  font-family: 'Gilroy-Medium', sans-serif;
  color: $color-black-72;
 }

 @mixin text-user($font-size) {
  font-size: $font-size;
  font-family: 'Gilroy-Regular', sans-serif;
  color: $color-black-72;
 }


 @mixin text-light($font-size) {
  font-size: $font-size;
  font-family: 'Gilroy-Light', sans-serif;
  color: $color-black-72;
 }