

@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880");
:root {
  --color-black: #222;
  --color-blue: #585dfb;
  --color-light-blue: #9bcaf5;
  --color-yellow: #ffdd49;
  --color-light: #f2f3f7;
  --color-light-blue: #9bcaf5;
  --color-white: #ffffff;
  --color-black: #121212;
  --color-black-72: rgba(0, 0, 0, 72%);
  --color-light-white-72:  rgba(255, 255, 255, 72%);
  --color-light-black-50:  rgba(0, 0, 0, 50%);
  --color-light-blue: #9bcaf5;
  --color-light-white: rgba(255, 255, 255, 50%);

  --fz: 16px;
  --fz-sm: 12px;
  -header-h1: 20px;


  --border-radius: 28px;
  --p-y: 12px;
  --padding-y: 12px;
  --p-y-sm: 8px;
  --p-x-sm: 8px;
  --padding-x: 10px;
  --p-x: 10px;
  --p-x-bg: 30px;
  --p-y-bg: 30px;

  --m-x: 10px;
  --m-y: 10px;
  --m-x-bg: 15px;
  --m-y-bg: 15px;
  --m-y-sm: 8px;
  --m-x-sm: 8px;

  --m-2: 2px;
  --m-8: 8px;
  --m-10: 10px;
  --m-16: 16px;
  --m-24: 24px;
  --m-30: 30px;
  --m-48: 48px;
  --m-56: 56px;
  --m-72: 72px;

  --p-2: 2px;
  --p-8: 8px;
  --p-10: 10px;
  --p-16: 16px;
  --p-24: 24px;
  --p-30: 30px;
  --p-48: 48px;
  --p-56: 56px;
  --p-72: 72px;

  --shadow: 8px 8px 24px 0px rgba(0, 0, 0, 0.2);
}

