@import url("https://fonts.cdnfonts.com/css/gilroy-bold?styles=20876,20877,20878,20879,20880");

@import "./variables"; 
@import "./reset";
@import "./mixins";


body {
  
  margin: 0px;

  font-family: "Gilroy-Regular", sans-serif;
  background-color: $color-light;
}

.container{
  box-shadow: $shadow;
  background-color: $color-white;
  border-radius: $border-radius ;
  padding: $p-24 124px $p-24  $p-24;
}

